# 10.1.1: Data Cleaning

######

##### Instructions. Perform data cleaning on the downloaded data. If the data is already clean, add a bunch of dummy ‘bad’ rows and columns which you can then demonstrate how to properly clean the data. Should perform at least the following (and other examples you can think of):

In [1]:
# Some Information about the Data:
# To be used for both classification and regression (Will transform a variable)
# (1) Source: Kaggle Vehicle Data Set (From Dekho) by Nehal Birla
# (2) Potential Dependent Variables: Selling Price, Selling Price Greater than USD 500,000
# (3) Potential Independent Variables (More than 3): Year (Year Bought [1992-2020]), Km Driven, Engine, Mileage, MaxPower (Remove Categorical Columns for simplicity)
# (4) Rows: 8,129

In [2]:
# Read CSV File
import pandas as pd

carData = pd.read_csv('Car details v3.csv')
carData

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

#### * Other Steps

In [3]:
# Other Step: Remove units (mileage (kmpl), engine (CC), max_power (bhp)
# carData['mileage'] = carData['mileage'].map(lambda x: x.rstrip(' kmpl')) won't work with float?
# carData['mileage'] = carData['mileage'].map(lambda x: x*2) # concatenate
carData['mileage'] = carData['mileage'].str.rstrip('km/kg kmpl') # don't forget km/kg
# carData.mileage.unique()
carData['mileage'] = pd.to_numeric(carData['mileage'], downcast='float')
carData

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.400000,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.139999,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.700001,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.000000,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.100000,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.500000,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.799999,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.299999,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.570000,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.570000,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

In [4]:
# Other Step: Remove units (mileage (kmpl), engine (CC), max_power (bhp)
# carData['mileage'] = carData['mileage'].map(lambda x: x.rstrip(' kmpl')) won't work with float?
# carData['mileage'] = carData['mileage'].map(lambda x: x*2) # concatenate
carData['engine'] = carData['engine'].str.rstrip(' CC')
carData['engine'] = pd.to_numeric(carData['engine'], downcast='float')
carData

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.400000,1248.0,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.139999,1498.0,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.700001,1497.0,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.000000,1396.0,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.100000,1298.0,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.500000,1197.0,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.799999,1493.0,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.299999,1248.0,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.570000,1396.0,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.570000,1396.0,70 bhp,140Nm@ 1800-3000rpm,5.0

In [5]:
# Other Step: Remove units (mileage (kmpl), engine (CC), max_power (bhp)
# carData['mileage'] = carData['mileage'].map(lambda x: x.rstrip(' kmpl')) won't work with float?
# carData['mileage'] = carData['mileage'].map(lambda x: x*2) # concatenate
carData['max_power'] = carData['max_power'].str.rstrip(' bhp')
carData['max_power'] = pd.to_numeric(carData['max_power'], downcast='float')
carData

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.400000,1248.0,74.000000,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.139999,1498.0,103.519997,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.700001,1497.0,78.000000,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.000000,1396.0,90.000000,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.100000,1298.0,88.199997,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.500000,1197.0,82.849998,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.799999,1493.0,110.000000,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.299999,1248.0,73.900002,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.570000,1396.0,70.000000,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.570000,1396.0,70.000000,140Nm@ 1800-3000rpm,5.0

In [6]:
# Rename Columns (For Clarity/Neatness)
carData.columns = ['Car Name', 'Year Bought', 'Selling Price', 'KM Driven', 'Fuel Type', 'Seller Type', 'Transmission', 'Nth Owner', 'Mileage (km/litr)', 'Engine (cc)', 'Max Power (bhp)', 'Torque', 'N-Seater']
carData

,Car Name,Year Bought,Selling Price,KM Driven,Fuel Type,Seller Type,Transmission,Nth Owner,Mileage (km/litr),Engine (cc),Max Power (bhp),Torque,N-Seater
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.400000,1248.0,74.000000,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.139999,1498.0,103.519997,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.700001,1497.0,78.000000,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.000000,1396.0,90.000000,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.100000,1298.0,88.199997,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.500000,1197.0,82.849998,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.799999,1493.0,110.000000,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.299999,1248.0,73.900002,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.570000,1396.0,70.000000,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.570000,1396.0,70.000000,140Nm@ 1800-3000rpm,5.0

#### a. Drop Nulls

In [7]:
carData.dropna(inplace=True) # how=any, all, axis, thresh, inplace
carData # Lose 222 Observations

,Car Name,Year Bought,Selling Price,KM Driven,Fuel Type,Seller Type,Transmission,Nth Owner,Mileage (km/litr),Engine (cc),Max Power (bhp),Torque,N-Seater
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.400000,1248.0,74.000000,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.139999,1498.0,103.519997,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.700001,1497.0,78.000000,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.000000,1396.0,90.000000,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.100000,1298.0,88.199997,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.500000,1197.0,82.849998,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.799999,1493.0,110.000000,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.299999,1248.0,73.900002,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.570000,1396.0,70.000000,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.570000,1396.0,70.000000,140Nm@ 1800-3000rpm,5.0

#### b. Remove irrelevant columns

In [8]:
carData.drop(['Torque', 'Fuel Type', 'Seller Type', 'Transmission', 'Nth Owner', 'N-Seater'], axis = 1, inplace = True)
carData

,Car Name,Year Bought,Selling Price,KM Driven,Mileage (km/litr),Engine (cc),Max Power (bhp)
0,Maruti Swift Dzire VDI,2014,450000,145500,23.400000,1248.0,74.000000
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,21.139999,1498.0,103.519997
2,Honda City 2017-2020 EXi,2006,158000,140000,17.700001,1497.0,78.000000
3,Hyundai i20 Sportz Diesel,2010,225000,127000,23.000000,1396.0,90.000000
4,Maruti Swift VXI BSIII,2007,130000,120000,16.100000,1298.0,88.199997
...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,18.500000,1197.0,82.849998
8124,Hyundai Verna CRDi SX,2007,135000,119000,16.799999,1493.0,110.000000
8125,Maruti Swift Dzire ZDi,2009,382000,120000,19.299999,1248.0,73.900002
8126,Tata Indigo CR4,2013,290000,25000,23.570000,1396.0,70.000000
8127,Tata Indigo CR4,2013,290000,25000,23.570000,1396.0,70.000000

#### c. Standardize a date/time column

In [9]:
# Enter Date
carData['Date'] = '12-19-1997'  # USA, usa, u.s.a, usa (with space)
carData.iloc[-2,-1] = '12/18/1997'
carData.iloc[-3,-1] = 'December 20th, 1997'
carData

,Car Name,Year Bought,Selling Price,KM Driven,Mileage (km/litr),Engine (cc),Max Power (bhp),Date
0,Maruti Swift Dzire VDI,2014,450000,145500,23.400000,1248.0,74.000000,12-19-1997
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,21.139999,1498.0,103.519997,12-19-1997
2,Honda City 2017-2020 EXi,2006,158000,140000,17.700001,1497.0,78.000000,12-19-1997
3,Hyundai i20 Sportz Diesel,2010,225000,127000,23.000000,1396.0,90.000000,12-19-1997
4,Maruti Swift VXI BSIII,2007,130000,120000,16.100000,1298.0,88.199997,12-19-1997
...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,18.500000,1197.0,82.849998,12-19-1997
8124,Hyundai Verna CRDi SX,2007,135000,119000,16.799999,1493.0,110.000000,12-19-1997
8125,Maruti Swift Dzire ZDi,2009,382000,120000,19.299999,1248.0,73.900002,"December 20th, 1997"
8126,Tata Indigo CR4,2013,290000,25000,23.570000,1396.0,70.000000,12/18/1997
8127,Tata Indigo CR4,2013,290000,25000,23.570000,1396.0,70.000000,12-19-1997

In [10]:
# Look at formats
carData.Date.unique() # See the different formats mm-dd-yyyy, mmmm dd, yyyy, mm/dd/yyyy

array(['12-19-1997', 'December 20th, 1997', '12/18/1997'], dtype=object)

In [11]:
# Clean up
carData['Date'] = carData['Date'].apply(lambda x: pd.to_datetime(x).strftime('%m-%d-%Y'))
carData

,Car Name,Year Bought,Selling Price,KM Driven,Mileage (km/litr),Engine (cc),Max Power (bhp),Date
0,Maruti Swift Dzire VDI,2014,450000,145500,23.400000,1248.0,74.000000,12-19-1997
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,21.139999,1498.0,103.519997,12-19-1997
2,Honda City 2017-2020 EXi,2006,158000,140000,17.700001,1497.0,78.000000,12-19-1997
3,Hyundai i20 Sportz Diesel,2010,225000,127000,23.000000,1396.0,90.000000,12-19-1997
4,Maruti Swift VXI BSIII,2007,130000,120000,16.100000,1298.0,88.199997,12-19-1997
...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,18.500000,1197.0,82.849998,12-19-1997
8124,Hyundai Verna CRDi SX,2007,135000,119000,16.799999,1493.0,110.000000,12-19-1997
8125,Maruti Swift Dzire ZDi,2009,382000,120000,19.299999,1248.0,73.900002,12-20-1997
8126,Tata Indigo CR4,2013,290000,25000,23.570000,1396.0,70.000000,12-18-1997
8127,Tata Indigo CR4,2013,290000,25000,23.570000,1396.0,70.000000,12-19-1997

In [12]:
carData.Date.unique() # WORKS. All of Same Format

array(['12-19-1997', '12-20-1997', '12-18-1997'], dtype=object)

In [13]:
# Clean up
carData.drop(['Date'], axis = 1, inplace = True)
carData

,Car Name,Year Bought,Selling Price,KM Driven,Mileage (km/litr),Engine (cc),Max Power (bhp)
0,Maruti Swift Dzire VDI,2014,450000,145500,23.400000,1248.0,74.000000
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,21.139999,1498.0,103.519997
2,Honda City 2017-2020 EXi,2006,158000,140000,17.700001,1497.0,78.000000
3,Hyundai i20 Sportz Diesel,2010,225000,127000,23.000000,1396.0,90.000000
4,Maruti Swift VXI BSIII,2007,130000,120000,16.100000,1298.0,88.199997
...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,18.500000,1197.0,82.849998
8124,Hyundai Verna CRDi SX,2007,135000,119000,16.799999,1493.0,110.000000
8125,Maruti Swift Dzire ZDi,2009,382000,120000,19.299999,1248.0,73.900002
8126,Tata Indigo CR4,2013,290000,25000,23.570000,1396.0,70.000000
8127,Tata Indigo CR4,2013,290000,25000,23.570000,1396.0,70.000000

#### d. Standardize a string column

In [14]:
# Test if we have problems in the text columns:
# carData['Fuel Type'].unique() # Diesel, Petrol, LPG, CNG
# carData['Seller Type'].unique() # Individual, Dealer, Trustmark Dealer
# carData['Transmission'].unique() # Manual, Automatic
# carData['Nth Owner'].unique() # 1st/2nd/3rd/4th and Above/Test Drive Car

# All Good. Need to create a column

In [15]:
# Destroy: Enter column of text
carData['Country'] = 'USA'  # USA, usa, u.s.a, usa (with space)
carData.iloc[-2,-1] = 'usa'
carData.iloc[-3,-1] = ' usa '
carData.iloc[-4,-1] = 'u.s.a '
carData

,Car Name,Year Bought,Selling Price,KM Driven,Mileage (km/litr),Engine (cc),Max Power (bhp),Country
0,Maruti Swift Dzire VDI,2014,450000,145500,23.400000,1248.0,74.000000,USA
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,21.139999,1498.0,103.519997,USA
2,Honda City 2017-2020 EXi,2006,158000,140000,17.700001,1497.0,78.000000,USA
3,Hyundai i20 Sportz Diesel,2010,225000,127000,23.000000,1396.0,90.000000,USA
4,Maruti Swift VXI BSIII,2007,130000,120000,16.100000,1298.0,88.199997,USA
...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,18.500000,1197.0,82.849998,USA
8124,Hyundai Verna CRDi SX,2007,135000,119000,16.799999,1493.0,110.000000,u.s.a
8125,Maruti Swift Dzire ZDi,2009,382000,120000,19.299999,1248.0,73.900002,usa
8126,Tata Indigo CR4,2013,290000,25000,23.570000,1396.0,70.000000,usa
8127,Tata Indigo CR4,2013,290000,25000,23.570000,1396.0,70.000000,USA

In [16]:
# Show Unique Entries in Country:
carData.Country.unique()

array(['USA', 'u.s.a ', ' usa ', 'usa'], dtype=object)

In [17]:
# Fix:
# carData['Country'] = carData['Country'].apply(lambda t:t.upper().strip('. ')) # Apply text functions to ensure all are caps / all have no spaces.      ERROR: (We still get a U.S.A)
carData['Country'] = carData['Country'].apply(lambda t:t.upper().strip()) # Apply text functions to ensure all are caps / all have no periods.
carData['Country'] = carData['Country'].str.replace('.','', regex = False) # regex = False - assumes we have a regular string
carData

,Car Name,Year Bought,Selling Price,KM Driven,Mileage (km/litr),Engine (cc),Max Power (bhp),Country
0,Maruti Swift Dzire VDI,2014,450000,145500,23.400000,1248.0,74.000000,USA
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,21.139999,1498.0,103.519997,USA
2,Honda City 2017-2020 EXi,2006,158000,140000,17.700001,1497.0,78.000000,USA
3,Hyundai i20 Sportz Diesel,2010,225000,127000,23.000000,1396.0,90.000000,USA
4,Maruti Swift VXI BSIII,2007,130000,120000,16.100000,1298.0,88.199997,USA
...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,18.500000,1197.0,82.849998,USA
8124,Hyundai Verna CRDi SX,2007,135000,119000,16.799999,1493.0,110.000000,USA
8125,Maruti Swift Dzire ZDi,2009,382000,120000,19.299999,1248.0,73.900002,USA
8126,Tata Indigo CR4,2013,290000,25000,23.570000,1396.0,70.000000,USA
8127,Tata Indigo CR4,2013,290000,25000,23.570000,1396.0,70.000000,USA

In [18]:
carData.Country.unique() # WORKS.

array(['USA'], dtype=object)

In [19]:
# Clean up
carData.drop(['Country'], axis = 1, inplace = True)
carData

,Car Name,Year Bought,Selling Price,KM Driven,Mileage (km/litr),Engine (cc),Max Power (bhp)
0,Maruti Swift Dzire VDI,2014,450000,145500,23.400000,1248.0,74.000000
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,21.139999,1498.0,103.519997
2,Honda City 2017-2020 EXi,2006,158000,140000,17.700001,1497.0,78.000000
3,Hyundai i20 Sportz Diesel,2010,225000,127000,23.000000,1396.0,90.000000
4,Maruti Swift VXI BSIII,2007,130000,120000,16.100000,1298.0,88.199997
...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,18.500000,1197.0,82.849998
8124,Hyundai Verna CRDi SX,2007,135000,119000,16.799999,1493.0,110.000000
8125,Maruti Swift Dzire ZDi,2009,382000,120000,19.299999,1248.0,73.900002
8126,Tata Indigo CR4,2013,290000,25000,23.570000,1396.0,70.000000
8127,Tata Indigo CR4,2013,290000,25000,23.570000,1396.0,70.000000

#### e. Remove outliers (and duplicates)

In [20]:
# Remove Duplicates here in the data set that is about to be the final one:
## I noticed one entry to be a duplicate:
##  8126	Tata Indigo CR4	2013	290000	25000	23.57	1396	70
##  8127	Tata Indigo CR4	2013	290000	25000	23.57	1396	70

carData.drop_duplicates(inplace = True)
carData # Shed 1197 observations

,Car Name,Year Bought,Selling Price,KM Driven,Mileage (km/litr),Engine (cc),Max Power (bhp)
0,Maruti Swift Dzire VDI,2014,450000,145500,23.400000,1248.0,74.000000
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,21.139999,1498.0,103.519997
2,Honda City 2017-2020 EXi,2006,158000,140000,17.700001,1497.0,78.000000
3,Hyundai i20 Sportz Diesel,2010,225000,127000,23.000000,1396.0,90.000000
4,Maruti Swift VXI BSIII,2007,130000,120000,16.100000,1298.0,88.199997
...,...,...,...,...,...,...,...
8121,Maruti Wagon R VXI BS IV with ABS,2013,260000,50000,18.900000,998.0,67.099998
8122,Hyundai i20 Magna 1.4 CRDi,2014,475000,80000,22.540001,1396.0,88.730003
8123,Hyundai i20 Magna,2013,320000,110000,18.500000,1197.0,82.849998
8124,Hyundai Verna CRDi SX,2007,135000,119000,16.799999,1493.0,110.000000
8125,Maruti Swift Dzire ZDi,2009,382000,120000,19.299999,1248.0,73.900002

In [21]:
# (1) Year Bought
carData['Year Bought'].describe()

## Need double quotations
print(f'Count: {carData["Year Bought"].count():,}')
print(f'Average: {round(carData["Year Bought"].mean()):,}') # Rounded
print(f'Min: {carData["Year Bought"].min():,}')
print(f'Max: {carData["Year Bought"].max():,}')
print(f'5%: {carData["Year Bought"].quantile(0.05):,}')
print(f'95%: {carData["Year Bought"].quantile(0.95):,}')

Count: 6,709
Average: 2,014
Min: 1,994
Max: 2,020
5%: 2,007.0
95%: 2,019.0

In [22]:
valMin = carData["Year Bought"].quantile(0.05)
valMax = carData["Year Bought"].quantile(0.95)
carDataNoOutliers = carData[carData["Year Bought"].between(valMin, valMax)]

print(f'Count: {carDataNoOutliers["Year Bought"].count():,}')
print(f'Average: {round(carDataNoOutliers["Year Bought"].mean()):,}') # Rounded
print(f'Min: {carDataNoOutliers["Year Bought"].min():,}')
print(f'Max: {carDataNoOutliers["Year Bought"].max():,}')
print(f'5%: {carDataNoOutliers["Year Bought"].quantile(0.05):,}')
print(f'95%: {carDataNoOutliers["Year Bought"].quantile(0.95):,}')

# EFFECT: Removed dates earlier than 2000. Around 400 obs removed.

Count: 6,314
Average: 2,014
Min: 2,007
Max: 2,019
5%: 2,008.0
95%: 2,019.0

In [23]:
# (2) Selling Price
carData['Selling Price'].describe()

print(f'Count: {carData["Selling Price"].count():,}')
print(f'Average: {carData["Selling Price"].mean():,}')
print(f'Min: {carData["Selling Price"].min():,}')
print(f'Max: {carData["Selling Price"].max():,}')
print(f'5%: {carData["Selling Price"].quantile(0.05):,}')
print(f'95%: {carData["Selling Price"].quantile(0.95):,}')

Count: 6,709
Average: 526,518.8169622895
Min: 29,999
Max: 10,000,000
5%: 110,000.0
95%: 1,200,000.0

In [24]:
# REMOVE OUTLIERS:
valMin = carData["Selling Price"].quantile(0.05)
valMax = carData["Selling Price"].quantile(0.95)
carDataNoOutliers = carData[carData["Selling Price"].between(valMin, valMax)]

print(f'Count: {carDataNoOutliers["Selling Price"].count():,}')
print(f'Average: {carDataNoOutliers["Selling Price"].mean():,}')
print(f'Min: {carDataNoOutliers["Selling Price"].min():,}')
print(f'Max: {carDataNoOutliers["Selling Price"].max():,}')
print(f'5%: {carDataNoOutliers["Selling Price"].quantile(0.05):,}')
print(f'95%: {carDataNoOutliers["Selling Price"].quantile(0.95):,}')

# Selling Price below 100k has been removed. Might not be ideal as we lose some important source of variation here. Minimal Change for the upper values
# Around 700 obs removed

Count: 6,060
Average: 460,717.44686468644
Min: 110,000
Max: 1,200,000
5%: 150,000.0
95%: 925,000.0

In [25]:
# (3) KM Driven
carData['KM Driven'].describe()

print(f'Count: {carData["KM Driven"].count():,}')
print(f'Average: {carData["KM Driven"].mean():,}')
print(f'Min: {carData["KM Driven"].min():,}')
print(f'Max: {carData["KM Driven"].max():,}')
print(f'5%: {carData["KM Driven"].quantile(0.05):,}')
print(f'95%: {carData["KM Driven"].quantile(0.95):,}')

Count: 6,709
Average: 73,403.13519153376
Min: 1
Max: 2,360,457
5%: 11,500.0
95%: 155,000.0

In [26]:
# REMOVE OUTLIERS:
valMin = carData["KM Driven"].quantile(0.05)
valMax = carData["KM Driven"].quantile(0.95)
carDataNoOutliers = carData[carData["KM Driven"].between(valMin, valMax)]

print(f'Count: {carDataNoOutliers["KM Driven"].count():,}')
print(f'Average: {carDataNoOutliers["KM Driven"].mean():,}')
print(f'Min: {carDataNoOutliers["KM Driven"].min():,}')
print(f'Max: {carDataNoOutliers["KM Driven"].max():,}')
print(f'5%: {carDataNoOutliers["KM Driven"].quantile(0.05):,}')
print(f'95%: {carDataNoOutliers["KM Driven"].quantile(0.95):,}')

# Outlier of 1km (nearly brand new) was removed. I think this is a sound outlier removal as we would like to keep our universe of cars to those that are "truly" second hand. Also nice to have removed the extremely
# old car with 2 million km which kinda makes no sense.
# Around 700 obs removed

Count: 6,043
Average: 69,081.64405096807
Min: 11,500
Max: 155,000
5%: 20,000.0
95%: 120,000.0

In [27]:
# (4) Mileage (need to convert to float after removing labels)
carData['Mileage (km/litr)'].describe()

print(f'Count: {carData["Mileage (km/litr)"].count():,}')
print(f'Average: {carData["Mileage (km/litr)"].mean():,}')
print(f'Min: {carData["Mileage (km/litr)"].min():,}')
print(f'Max: {carData["Mileage (km/litr)"].max():,}')
print(f'5%: {carData["Mileage (km/litr)"].quantile(0.05):,}')
print(f'95%: {carData["Mileage (km/litr)"].quantile(0.95):,}')

Count: 6,709
Average: 19.466825485229492
Min: 0.0
Max: 42.0
5%: 12.800000190734863
95%: 25.829999923706055

In [28]:
# REMOVE OUTLIERS:
valMin = carData["Mileage (km/litr)"].quantile(0.05)
valMax = carData["Mileage (km/litr)"].quantile(0.95)
carDataNoOutliers = carData[carData["Mileage (km/litr)"].between(valMin, valMax)]

print(f'Count: {carDataNoOutliers["Mileage (km/litr)"].count():,}')
print(f'Average: {carDataNoOutliers["Mileage (km/litr)"].mean():,}')
print(f'Min: {carDataNoOutliers["Mileage (km/litr)"].min():,}')
print(f'Max: {carDataNoOutliers["Mileage (km/litr)"].max():,}')
print(f'5%: {carDataNoOutliers["Mileage (km/litr)"].quantile(0.05):,}')
print(f'95%: {carDataNoOutliers["Mileage (km/litr)"].quantile(0.95):,}')

# Able to remove data with 0 km/litr. Makes no sense and this should have been dropped in earlier stages of data cleaning too. Will make sure to take note of this.
# old car with 2 million km which kinda makes no sense.
# Around 600 obs removed

Count: 6,138
Average: 19.406824111938477
Min: 12.800000190734863
Max: 25.829999923706055
5%: 13.600000381469727
95%: 25.100000381469727

In [29]:
# (5) Engine (need to convert to float after removing labels)
carData['Engine (cc)'].describe()

print(f'Count: {carData["Engine (cc)"].count():,}')
print(f'Average: {carData["Engine (cc)"].mean():,}')
print(f'Min: {carData["Engine (cc)"].min():,}')
print(f'Max: {carData["Engine (cc)"].max():,}')
print(f'5%: {carData["Engine (cc)"].quantile(0.05):,}')
print(f'95%: {carData["Engine (cc)"].quantile(0.95):,}')

Count: 6,709
Average: 1,431.14111328125
Min: 624.0
Max: 3,604.0
5%: 796.0
95%: 2,499.0

In [30]:
# REMOVE OUTLIERS:
valMin = carData["Engine (cc)"].quantile(0.05)
valMax = carData["Engine (cc)"].quantile(0.95)
carDataNoOutliers = carData[carData["Engine (cc)"].between(valMin, valMax)]

print(f'Count: {carDataNoOutliers["Engine (cc)"].count():,}')
print(f'Average: {carDataNoOutliers["Engine (cc)"].mean():,}')
print(f'Min: {carDataNoOutliers["Engine (cc)"].min():,}')
print(f'Max: {carDataNoOutliers["Engine (cc)"].max():,}')
print(f'5%: {carDataNoOutliers["Engine (cc)"].quantile(0.05):,}')
print(f'95%: {carDataNoOutliers["Engine (cc)"].quantile(0.95):,}')

# Limited improvement. Already clean. Data stayed close to previous 5% and 95% quantile values.
# Around 350 obs removed

Count: 6,357
Average: 1,371.73388671875
Min: 796.0
Max: 2,499.0
5%: 796.0
95%: 2,179.0

In [31]:
# (6) Max Power (need to convert to float after removing labels)
carData['Max Power (bhp)'].describe()

print(f'Count: {carData["Max Power (bhp)"].count():,}')
print(f'Average: {carData["Max Power (bhp)"].mean():,}')
print(f'Min: {carData["Max Power (bhp)"].min():,}')
print(f'Max: {carData["Max Power (bhp)"].max():,}')
print(f'5%: {carData["Max Power (bhp)"].quantile(0.05):,}')
print(f'95%: {carData["Max Power (bhp)"].quantile(0.95):,}')

Count: 6,709
Average: 87.77233123779297
Min: 32.79999923706055
Max: 400.0
5%: 47.29999923706055
95%: 147.89999389648438

In [32]:
# REMOVE OUTLIERS:
valMin = carData["Max Power (bhp)"].quantile(0.05)
valMax = carData["Max Power (bhp)"].quantile(0.95)
carDataNoOutliers = carData[carData["Max Power (bhp)"].between(valMin, valMax)]

print(f'Count: {carDataNoOutliers["Max Power (bhp)"].count():,}')
print(f'Average: {carDataNoOutliers["Max Power (bhp)"].mean():,}')
print(f'Min: {carDataNoOutliers["Max Power (bhp)"].min():,}')
print(f'Max: {carDataNoOutliers["Max Power (bhp)"].max():,}')
print(f'5%: {carDataNoOutliers["Max Power (bhp)"].quantile(0.05):,}')
print(f'95%: {carDataNoOutliers["Max Power (bhp)"].quantile(0.95):,}')

# Limited improvement. Already clean. Data stayed close to previous 5% and 95% quantile values.
# Around 700 obs removed.

Count: 6,066
Average: 85.23774719238281
Min: 47.29999923706055
Max: 147.89999389648438
5%: 55.20000076293945
95%: 126.82999992370605

In [33]:
###########################################################################################################################################################
# Summary: Need to deal with the following before regression:
# (1) Nonsensical Values: Mileage = 0, (2) KM Driven (1 km / 2m km), (3) Some really high selling values of (1.2m and absurdly low sales of 30k)
###########################################################################################################################################################

#### f. Winsorize outliers using both clip and a winsorize function.

In [34]:
# Clip

In [35]:
# (1) Year Bought
valMin = carData["Year Bought"].quantile(0.05)
valMax = carData["Year Bought"].quantile(0.95)

carDataClipped = carData.copy()
carDataClipped["Year Bought"] = carDataClipped["Year Bought"].clip(valMin, valMax) # replace values exceeding max and min you provide with the max and min you provide.

print(f'Count: {carDataClipped["Year Bought"].count():,}')
print(f'Average: {round(carDataClipped["Year Bought"].mean()):,}')
print(f'Min: {carDataClipped["Year Bought"].min():,}')
print(f'Max: {carDataClipped["Year Bought"].max():,}')
print(f'5%: {carDataClipped["Year Bought"].quantile(0.05):,}')
print(f'95%: {carDataClipped["Year Bought"].quantile(0.95):,}')

# Compared to simply removing outliers:
## Before: Removed dates earlier than 2000. Around 400 obs removed.
## With Clipping: No Removed Data. Same results with removing outlier except 5% quantile is 2007 here instead of 2008 before.

Count: 6,709
Average: 2,014
Min: 2,007
Max: 2,019
5%: 2,007.0
95%: 2,019.0

In [36]:
# (2) Selling Price
valMin = carData["Selling Price"].quantile(0.05)
valMax = carData["Selling Price"].quantile(0.95)

carDataClipped = carData.copy()
carDataClipped["Selling Price"] = carDataClipped["Selling Price"].clip(valMin, valMax) # replace values exceeding max and min you provide with the max and min you provide.

print(f'Count: {carDataClipped["Selling Price"].count():,}')
print(f'Average: {carDataClipped["Selling Price"].mean():,}')
print(f'Min: {carDataClipped["Selling Price"].min():,}')
print(f'Max: {carDataClipped["Selling Price"].max():,}')
print(f'5%: {carDataClipped["Selling Price"].quantile(0.05):,}')
print(f'95%: {carDataClipped["Selling Price"].quantile(0.95):,}')

# Compared to simply removing outliers:
## Before: Selling Price below 100k has been removed. Might not be ideal as we lose some important source of variation here. Minimal Change for the upper values. Around 700 obs removed
## With Clipping: No Removed Data. Higher average, same min, however we were able to preserve higher 95% quintile of 1.2m vs 925k with dropping outliers, hence the higher average.

Count: 6,709
Average: 479,755.2135936801
Min: 110,000
Max: 1,200,000
5%: 110,000.0
95%: 1,200,000.0

In [37]:
# (3) KM Driven
valMin = carData["KM Driven"].quantile(0.05)
valMax = carData["KM Driven"].quantile(0.95)

carDataClipped = carData.copy()
carDataClipped["KM Driven"] = carDataClipped["KM Driven"].clip(valMin, valMax) # replace values exceeding max and min you provide with the max and min you provide.

print(f'Count: {carDataClipped["KM Driven"].count():,}')
print(f'Average: {carDataClipped["KM Driven"].mean():,}')
print(f'Min: {carDataClipped["KM Driven"].min():,}')
print(f'Max: {carDataClipped["KM Driven"].max():,}')
print(f'5%: {carDataClipped["KM Driven"].quantile(0.05):,}')
print(f'95%: {carDataClipped["KM Driven"].quantile(0.95):,}')

# Compared to simply removing outliers:
## Before:
# Outlier of 1km (nearly brand new) was removed. I think this is a sound outlier removal as we would like to keep our universe of cars to those that are "truly" second hand. Also nice to have removed the extremely
# old car with 2 million km which kinda makes no sense.
# Around 700 obs removed

## With Clipping: Cap values at 120k and minimum of 11.5k. Still effectively remove the outliers. Higher average with higher 95% and lower 5% quantile.

Count: 6,709
Average: 70,488.13161424952
Min: 11,500
Max: 155,000
5%: 11,500.0
95%: 155,000.0

In [38]:
# (4) Mileage (km/litr)
valMin = carData["Mileage (km/litr)"].quantile(0.05)
valMax = carData["Mileage (km/litr)"].quantile(0.95)

carDataClipped = carData.copy()
carDataClipped["Mileage (km/litr)"] = carDataClipped["Mileage (km/litr)"].clip(valMin, valMax) # replace values exceeding max and min you provide with the max and min you provide.

print(f'Count: {carDataClipped["Mileage (km/litr)"].count():,}')
print(f'Average: {carDataClipped["Mileage (km/litr)"].mean():,}')
print(f'Min: {carDataClipped["Mileage (km/litr)"].min():,}')
print(f'Max: {carDataClipped["Mileage (km/litr)"].max():,}')
print(f'5%: {carDataClipped["Mileage (km/litr)"].quantile(0.05):,}')
print(f'95%: {carDataClipped["Mileage (km/litr)"].quantile(0.95):,}')

# Compared to simply removing outliers:
## Before:
# Able to remove data with 0 km/litr. Makes no sense and this should have been dropped in earlier stages of data cleaning too. Will make sure to take note of this.
# old car with 2 million km which kinda makes no sense.
# Around 600 obs removed

## With Clipping: Very similar results except no change in data count.

Count: 6,709
Average: 19.460065841674805
Min: 12.800000190734863
Max: 25.829999923706055
5%: 12.800000190734863
95%: 25.829999923706055

In [39]:
# (5) Engine (cc)
valMin = carData["Engine (cc)"].quantile(0.05)
valMax = carData["Engine (cc)"].quantile(0.95)

carDataClipped = carData.copy()
carDataClipped["Engine (cc)"] = carDataClipped["Engine (cc)"].clip(valMin, valMax) # replace values exceeding max and min you provide with the max and min you provide.

print(f'Count: {carDataClipped["Engine (cc)"].count():,}')
print(f'Average: {carDataClipped["Engine (cc)"].mean():,}')
print(f'Min: {carDataClipped["Engine (cc)"].min():,}')
print(f'Max: {carDataClipped["Engine (cc)"].max():,}')
print(f'5%: {carDataClipped["Engine (cc)"].quantile(0.05):,}')
print(f'95%: {carDataClipped["Engine (cc)"].quantile(0.95):,}')

# Compared to simply removing outliers:
## Before:
# Limited improvement. Already clean. Data stayed close to previous 5% and 95% quantile values.
# Around 350 obs removed

## With Clipping: higher average with higher 95% quantile.

Count: 6,709
Average: 1,423.0089111328125
Min: 796.0
Max: 2,499.0
5%: 796.0
95%: 2,499.0

In [40]:
# (6) Max Power (bhp)
valMin = carData["Max Power (bhp)"].quantile(0.05)
valMax = carData["Max Power (bhp)"].quantile(0.95)

carDataClipped = carData.copy()
carDataClipped["Max Power (bhp)"] = carDataClipped["Max Power (bhp)"].clip(valMin, valMax) # replace values exceeding max and min you provide with the max and min you provide.

print(f'Count: {carDataClipped["Max Power (bhp)"].count():,}')
print(f'Average: {carDataClipped["Max Power (bhp)"].mean():,}')
print(f'Min: {carDataClipped["Max Power (bhp)"].min():,}')
print(f'Max: {carDataClipped["Max Power (bhp)"].max():,}')
print(f'5%: {carDataClipped["Max Power (bhp)"].quantile(0.05):,}')
print(f'95%: {carDataClipped["Max Power (bhp)"].quantile(0.95):,}')

# Compared to simply removing outliers:
## Before:
# Limited improvement. Already clean. Data stayed close to previous 5% and 95% quantile values.
# Around 700 obs removed.

## With Clipping: almost same.

Count: 6,709
Average: 86.44551086425781
Min: 47.29999923706055
Max: 147.89999389648438
5%: 47.29999923706055
95%: 147.89999389648438

In [41]:
# Winsorize
import scipy.stats.mstats

In [42]:
# (1) Year Bought
carDataWinsorized = carData.copy()
carDataWinsorized["Year Bought"] = scipy.stats.mstats.winsorize(carDataWinsorized["Year Bought"], [.05, .05])

print(f'Count: {carDataWinsorized["Year Bought"].count():,}')
print(f'Average: {round(carDataWinsorized["Year Bought"].mean()):,}')
print(f'Min: {carDataWinsorized["Year Bought"].min():,}')
print(f'Max: {carDataWinsorized["Year Bought"].max():,}')
print(f'5%: {carDataWinsorized["Year Bought"].quantile(0.05):,}')
print(f'95%: {carDataWinsorized["Year Bought"].quantile(0.95):,}')

# Compared to simply removing outliers:
## Before: Removed dates earlier than 2000. Around 400 obs removed.
## With Winsorization: No Removed Data. Same results with removing outlier except 5% quantile is 2007 here instead of 2008 before.

Count: 6,709
Average: 2,014
Min: 2,007
Max: 2,019
5%: 2,007.0
95%: 2,019.0

In [43]:
# (2) Selling Price
carDataWinsorized = carData.copy()
carDataWinsorized["Selling Price"] = scipy.stats.mstats.winsorize(carDataWinsorized["Selling Price"], [.05, .05])

print(f'Count: {carDataWinsorized["Selling Price"].count():,}')
print(f'Average: {carDataWinsorized["Selling Price"].mean():,}')
print(f'Min: {carDataWinsorized["Selling Price"].min():,}')
print(f'Max: {carDataWinsorized["Selling Price"].max():,}')
print(f'5%: {carDataWinsorized["Selling Price"].quantile(0.05):,}')
print(f'95%: {carDataWinsorized["Selling Price"].quantile(0.95):,}')

# Compared to simply removing outliers:
## Before: Selling Price below 100k has been removed. Might not be ideal as we lose some important source of variation here. Minimal Change for the upper values. Around 700 obs removed
## With Winsorization: No Removed Data. Higher average, same min, however we were able to preserve higher 95% quintile of 1.2m vs 925k with dropping outliers, hence the higher average.

Count: 6,709
Average: 479,755.2135936801
Min: 110,000
Max: 1,200,000
5%: 110,000.0
95%: 1,200,000.0

In [44]:
# (3) KM Driven
carDataWinsorized = carData.copy()
carDataWinsorized["KM Driven"] = scipy.stats.mstats.winsorize(carDataWinsorized["KM Driven"], [.05, .05])

print(f'Count: {carDataWinsorized["KM Driven"].count():,}')
print(f'Average: {carDataWinsorized["KM Driven"].mean():,}')
print(f'Min: {carDataWinsorized["KM Driven"].min():,}')
print(f'Max: {carDataWinsorized["KM Driven"].max():,}')
print(f'5%: {carDataWinsorized["KM Driven"].quantile(0.05):,}')
print(f'95%: {carDataWinsorized["KM Driven"].quantile(0.95):,}')

# Compared to simply removing outliers:
## Before:
# Outlier of 1km (nearly brand new) was removed. I think this is a sound outlier removal as we would like to keep our universe of cars to those that are "truly" second hand. Also nice to have removed the extremely
# old car with 2 million km which kinda makes no sense.
# Around 700 obs removed

## With Winsorization: Cap values at 155k and minimum of 11.5k. Still effectively remove the outliers. Higher average with higher 95% and lower 5% quantile.
## Values higher vs. Clipped.

Count: 6,709
Average: 70,488.13161424952
Min: 11,500
Max: 155,000
5%: 11,500.0
95%: 155,000.0

In [45]:
# (4) Mileage (km/litr)
carDataWinsorized = carData.copy()
carDataWinsorized["Mileage (km/litr)"] = scipy.stats.mstats.winsorize(carDataWinsorized["Mileage (km/litr)"], [.05, .05])

print(f'Count: {carDataWinsorized["Mileage (km/litr)"].count():,}')
print(f'Average: {carDataWinsorized["Mileage (km/litr)"].mean():,}')
print(f'Min: {carDataWinsorized["Mileage (km/litr)"].min():,}')
print(f'Max: {carDataWinsorized["Mileage (km/litr)"].max():,}')
print(f'5%: {carDataWinsorized["Mileage (km/litr)"].quantile(0.05):,}')
print(f'95%: {carDataWinsorized["Mileage (km/litr)"].quantile(0.95):,}')

# Compared to simply removing outliers:
## Before:
# Able to remove data with 0 km/litr. Makes no sense and this should have been dropped in earlier stages of data cleaning too. Will make sure to take note of this.
# old car with 2 million km which kinda makes no sense.
# Around 600 obs removed

## With Winsorization: Very similar results except no change in data count.

Count: 6,709
Average: 19.460065841674805
Min: 12.800000190734863
Max: 25.829999923706055
5%: 12.800000190734863
95%: 25.829999923706055

In [46]:
# (5) Engine (cc)
carDataWinsorized = carData.copy()
carDataWinsorized["Engine (cc)"] = scipy.stats.mstats.winsorize(carDataWinsorized["Engine (cc)"], [.05, .05])

print(f'Count: {carDataWinsorized["Engine (cc)"].count():,}')
print(f'Average: {carDataWinsorized["Engine (cc)"].mean():,}')
print(f'Min: {carDataWinsorized["Engine (cc)"].min():,}')
print(f'Max: {carDataWinsorized["Engine (cc)"].max():,}')
print(f'5%: {carDataWinsorized["Engine (cc)"].quantile(0.05):,}')
print(f'95%: {carDataWinsorized["Engine (cc)"].quantile(0.95):,}')

# Compared to simply removing outliers:
## Before:
# Limited improvement. Already clean. Data stayed close to previous 5% and 95% quantile values.
# Around 350 obs removed

## With Winsorization: higher average with higher 95% quantile. Almost same with clipping.

Count: 6,709
Average: 1,423.0089111328125
Min: 796.0
Max: 2,499.0
5%: 796.0
95%: 2,499.0

In [47]:
# (6) Max Power (bhp)
carDataWinsorized = carData.copy()
carDataWinsorized["Max Power (bhp)"] = scipy.stats.mstats.winsorize(carDataWinsorized["Max Power (bhp)"], [.05, .05])

print(f'Count: {carDataWinsorized["Max Power (bhp)"].count():,}')
print(f'Average: {carDataWinsorized["Max Power (bhp)"].mean():,}')
print(f'Min: {carDataWinsorized["Max Power (bhp)"].min():,}')
print(f'Max: {carDataWinsorized["Max Power (bhp)"].max():,}')
print(f'5%: {carDataWinsorized["Max Power (bhp)"].quantile(0.05):,}')
print(f'95%: {carDataWinsorized["Max Power (bhp)"].quantile(0.95):,}')

# Compared to simply removing outliers:
## Before:
# Limited improvement. Already clean. Data stayed close to previous 5% and 95% quantile values.
# Around 700 obs removed.

## With Winsorization: Lower 5% quantile and higher 95% quantile vs. clipping. Average almost the same.

Count: 6,709
Average: 86.44551086425781
Min: 47.29999923706055
Max: 147.89999389648438
5%: 47.29999923706055
95%: 147.89999389648438

In [48]:
# Verdict: Be sure to WINSORIZE the following
# (1) Mileage [0 value] 
# (2) KM Driven [1 km / 2m km]
# (3) Selling Value [Some really high selling values of (1.2m and absurdly low sales of 30k)]